$_main_color: #ffffff;
$_main_bg_color: #2f0052;
$_burger_bg_color: rgba(2, 27, 55, 0.8);
$_blue_color: #325c8b;
$_pink_color: #b1578f;
$_radial_gradient: radial-gradient(
  circle,
  #feb3db 0%,
  #fda6e3 43%,
  #dd7ef3 100%
);
$_yellow: #fde3cf;
$_light_yellow: #fdf1cf;
