<!-- Vlad Tsokota dev -->
<section class="container phone-section-lore">
  <h2 class="phone-section-title">Character Spotlight</h2>
  <div class="phone-section-content">
    <picture>
      <source
        srcset="/img/character.png 1x, /img/character@2x.png 2x"
        media="(min-width: 1200px)"
      />
      <source
        srcset="/img/character-mob.png 1x, /img/character-mob@2x.png 2x"
        media="(max-width: 1199px)"
      />
      <img src="/img/character.png" class="phone-section-img" alt="Character" />
    </picture>
    <p class="phone-section-text">
      Meet the <strong>royal cast</strong> of the game! From the
      <strong>charming King Arthur</strong> to the
      <strong>mysterious Sorceress Eleanor</strong>, every character brings
      their own magic to the adventure. Who will be your favorite?
    </p>
  </div>
</section>
