<div class="cookies">
  <div class="cookies-info">
    <p class="cookies-title">Cookies Policy</p>
    <p class="cookies-message">
      We use cookies to improve your experience on our website. By browsing this
      website, you agree to our use of cookies.
    </p>
  </div>
  <div class="cookies-btns">
    <button class="cookies-btn accept" type="button" id="accept-cookies">
      Accept cookies
    </button>
    <button class="cookies-btn decline" type="button" id="decline-cookies">
      Decline cookies
    </button>
  </div>
</div>
