<!-- Vlad Tsokota dev -->
<section class="container phone-section-dev-diaries">
  <h2 class="phone-section-title">Developer Diaries</h2>
  <div class="phone-section-content">
    <picture>
      <source
        srcset="/img/diaries.png 1x, /img/diaries@2x.png 2x"
        media="(min-width: 1200px)"
      />
      <source
        srcset="/img/diaries-mob.png 1x, /img/diaries-mob@2x.png 2x"
        media="(max-width: 1199px)"
      />
      <img src="/img/diaries.png" class="phone-section-img" alt="Diaries" />
    </picture>
    <p class="phone-section-text">
      Go behind the scenes with our development team! Watch exclusive
      <strong>videos</strong> on how we designed levels, created stunning gem
      animations, and crafted the perfect royal soundtrack.
    </p>
  </div>
</section>
