<div id="enemy-and-boss-showcase" class="anchor-offset"></div>
<section>
  <div class="witch-block">
    <h2 class="witch-block-title">Enemy & Boss Showcase</h2>
    <div class="witch-block-content">
      <div class="witch-image">
        <picture>
          <source
            srcset="/img/vecteezy.png 1x, /img/vecteezy@x2.png 2x"
            media="(min-width: 1200px)"
          />
          <source
            srcset="/img/vecteezy-mob.png 1x, /img/vecteezy-mob@x2.png 2x"
            media="(max-width: 1199px)"
          />
          <img src="/img/vecteezy.png" alt="Vecteezy" />
        </picture>
      </div>
      <div class="witch-block-content-text">
        <p>
          Face off against <strong>devious villains</strong> like the
          <strong>Shadow Queen</strong> and her <strong>dark knights</strong>!
          Use <strong>strategic matches and power-ups</strong> to defeat them
          and reclaim your kingdom!
        </p>
      </div>
    </div>
    <div class="witch-feather"></div>
  </div>
</section>
