<div id="features" class="anchor-offset"></div>
<section class="features-section">
  <div class="container">
    <h2 class="features-title">Features</h2>
    <ul class="features-list">
      <li class="features-item">
        <div class="features-item-container">
          <div class="features-item-icon">
            <picture>
              <source
                srcset="
                  /img/features/feature-1.png    1x,
                  /img/features/feature-1@2x.png 2x
                "
              />
              <img
                src="/img/features/feature-1.png"
                alt="Regal Match-3 Gameplay"
              />
            </picture>
          </div>
          <p class="feature-item-descr">
            <span>Regal Match-3 Gameplay</span> – Swap and match royal gems to
            clear the board!
          </p>
        </div>
      </li>
      <li class="features-item">
        <div class="features-item-container">
          <div class="features-item-icon">
            <picture>
              <source
                srcset="
                  /img/features/feature-2.png    1x,
                  /img/features/feature-2@2x.png 2x
                "
              />
              <img src="/img/features/feature-2.png" alt="Powerful Boosters" />
            </picture>
          </div>
          <p class="feature-item-descr">
            <span>Powerful Boosters</span> – Use magic wands, bomb gems, and
            lightning strikes to win!
          </p>
        </div>
      </li>
      <li class="features-item">
        <div class="features-item-container">
          <div class="features-item-icon">
            <picture>
              <source
                srcset="
                  /img/features/feature-3.png    1x,
                  /img/features/feature-3@2x.png 2x
                "
              />
              <img
                src="/img/features/feature-3.png"
                alt="Castle Customization"
              />
            </picture>
          </div>
          <p class="feature-item-descr">
            <span>Castle Customization</span> – Earn rewards to decorate and
            upgrade your kingdom.
          </p>
        </div>
      </li>
      <li class="features-item">
        <div class="features-item-container">
          <div class="features-item-icon">
            <picture>
              <source
                srcset="
                  /img/features/feature-4.png    1x,
                  /img/features/feature-4@2x.png 2x
                "
              />
              <img
                src="/img/features/feature-4.png"
                alt="Daily & Weekly Events"
              />
            </picture>
          </div>
          <p class="feature-item-descr">
            <span>Daily & Weekly Events</span> – Compete in special challenges
            for exclusive prizes.
          </p>
        </div>
      </li>
      <li class="features-item">
        <div class="features-item-container">
          <div class="features-item-icon">
            <picture>
              <source
                srcset="
                  /img/features/feature-5.png    1x,
                  /img/features/feature-5@2x.png 2x
                "
              />
              <img src="/img/features/feature-5.png" alt="Offline Play" />
            </picture>
          </div>
          <p class="feature-item-descr">
            <span>Offline Play</span> – Enjoy the game anywhere, anytime – no
            internet needed!
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
