<!-- Vlad Tsokota dev -->
<footer>
  <div class="witch-block">
    <h2 class="footer-title">Enemy & Boss Showcase</h2>
    <div class="witch-block-content">
      <div class="witch-image">
        <picture>
          <source
            srcset="/img/vecteezy.png 1x, /img/vecteezy@x2.png 2x"
            media="(min-width: 1200px)"
          />
          <source
            srcset="/img/vecteezy-mob.png 1x, /img/vecteezy-mob@x2.png 2x"
            media="(max-width: 1199px)"
          />
          <img src="/img/vecteezy.png" alt="Vecteezy" />
        </picture>
      </div>
      <div class="witch-block-content-text">
        <p>
          Face off against <strong>devious villains</strong> like the
          <strong>Shadow Queen</strong> and her <strong>dark knights</strong>!
          Use <strong>strategic matches and power-ups</strong> to defeat them
          and reclaim your kingdom!
        </p>
      </div>
    </div>
    <div class="witch-feather"></div>
    <div class="footer-container">
      <div class="footer-container-links">
        <a href="./privacy-policy.html">Privacy Policy</a>
        <a href="./terms-conditions.html">Terms and Conditions</a>
        <a href="./cookies-policy.html">Cookies Policy</a>
      </div>
      <p>All rights reserved matchkingdom.site | 2025</p>
    </div>
  </div>
</footer>
