<header class="header-section">
  <div class="container header-container">
    <nav class="header-navigation">
      <a href="./index.html" class="header-logo-container">
        <img src="/logo.webp" alt="Royal Match 3 logo" class="header-logo" />
        <p class="header-app-name">Royal Match 3</p>
      </a>

      <div class="header-navigation-list">
        <ul class="header-navigation-first-list">
          <li><a href="" class="header-navigation-item">Game Overview</a></li>
          <li><a href="" class="header-navigation-item">Features</a></li>
          <li><a href="" class="header-navigation-item">How to Play</a></li>
          <li>
            <a href="" class="header-navigation-item">Player Testimonials</a>
          </li>
          <li>
            <a href="" class="header-navigation-item">Character Spotlight</a>
          </li>
        </ul>
        <ul class="header-navigation-second-list">
          <li>
            <a href="" class="header-navigation-item">Developer Diaries</a>
          </li>
          <li>
            <a href="" class="header-navigation-item">Lore & Worldbuilding</a>
          </li>
          <li>
            <a href="" class="header-navigation-item">Quests & Achievements</a>
          </li>
          <li>
            <a href="" class="header-navigation-item">Enemy & Boss Showcase</a>
          </li>
        </ul>
      </div>
    </nav>
    <div id="open-menu">
      <svg width="44" height="44" class="header-burger">
        <use href="./img/sprite.svg#icon-burger"></use>
      </svg>
    </div>
  </div>
</header>
