<section class="hero-section">
  <div class="container hero-container">
    <div class="hero-preview">
      <picture>
        <source
          srcset="
            /img/hero/royal-match-3-preview.png   1x,
            /img/hero/royal-match-3-preview@2.png 2x
          "
        />
        <img
          src="/img/hero/royal-match-3-preview.png"
          alt="Royal match 3 preview"
        />
      </picture>
    </div>
    <div class="hero-info">
      <h1 class="hero-title">Royal Match 3 –<br />A Puzzle Fit for a King!</h1>
      <button
        class="hero-button"
        type="button"
        onclick=" window.open('https://play.google.com/store/apps/details?id=com.Chiluu.RoyalMatch3&hl=en&gl=us', '_blank'); return false;"
      >
        <div>
          <picture>
            <source
              srcset="
                /img/hero/google-play.png   1x,
                /img/hero/google-play@2.png 2x
              "
            />
            <img src="/img/hero/google-play.png" alt="Google Play Store" />
          </picture>
        </div>
      </button>
    </div>
    <div class="hero-feather"></div>
  </div>
</section>
