<section>
  <div class="container how-to-play-section">
    <h2 class="how-to-play-title">How to Play</h2>
    <ul class="how-to-play-list">
      <li class="how-to-play-item">
        <div class="how-to-play-item-descr">
          <div class="how-to-play-item-descr-num"><p>1</p></div>
          <p class="how-to-play-item-descr-text">
            <span>Match 3 or More Gems</span> – Swap tiles to form matches and
            earn points.
          </p>
        </div>
        <div class="how-to-play-item-img img-1">
          <picture>
            <source
              srcset="
                /img/how-to-play/how-to-play-1.png    1x,
                /img/how-to-play/how-to-play-1@2x.png 2x
              "
            />
            <img
              src="/img/how-to-play/how-to-play-1.png"
              alt="How to play view"
            />
          </picture>
        </div>
      </li>
      <li class="how-to-play-item">
        <svg class="how-to-play-arrow arrow-1">
          <use href="/img/sprite.svg#icon-arrow"></use>
        </svg>
        <div class="how-to-play-item-descr">
          <div class="how-to-play-item-descr-num"><p>2</p></div>
          <p class="how-to-play-item-descr-text">
            <span>Activate Boosters</span> – Use special moves like the Royal
            Bomb to clear tough levels.
          </p>
        </div>
        <div class="how-to-play-item-img img-2">
          <picture>
            <source
              srcset="
                /img/how-to-play/how-to-play-2.png    1x,
                /img/how-to-play/how-to-play-2@2x.png 2x
              "
            />
            <img
              src="/img/how-to-play/how-to-play-2.png"
              alt="Multicolor Bomb"
            />
          </picture>
        </div>
      </li>
      <li class="how-to-play-item">
        <svg class="how-to-play-arrow arrow-2">
          <use href="/img/sprite.svg#icon-arrow"></use>
        </svg>
        <div class="how-to-play-item-descr">
          <div class="how-to-play-item-descr-num"><p>3</p></div>
          <p class="how-to-play-item-descr-text">
            <span>Complete Quests</span> – Achieve level goals to progress
            through the royal kingdom.
          </p>
        </div>
        <div class="how-to-play-item-img img-3">
          <picture>
            <source
              srcset="
                /img/how-to-play/how-to-play-3.png    1x,
                /img/how-to-play/how-to-play-3@2x.png 2x
              "
            />
            <img src="/img/how-to-play/how-to-play-3.png" alt="Striped candy" />
          </picture>
        </div>
      </li>
      <li class="how-to-play-item">
        <svg class="how-to-play-arrow arrow-3">
          <use href="/img/sprite.svg#icon-arrow"></use>
        </svg>
        <div class="how-to-play-item-descr">
          <div class="how-to-play-item-descr-num"><p>4</p></div>
          <p class="how-to-play-item-descr-text">
            <span>Unlock New Realms</span> – Discover hidden areas and expand
            your castle.
          </p>
        </div>
        <div class="how-to-play-item-img img-4">
          <picture>
            <source
              srcset="
                /img/how-to-play/how-to-play-4.png    1x,
                /img/how-to-play/how-to-play-4@2x.png 2x
              "
            />
            <img src="/img/how-to-play/how-to-play-4.png" alt="Package view" />
          </picture>
        </div>
      </li>
      <li class="how-to-play-item last-how-to-play-item">
        <svg class="how-to-play-arrow arrow-4">
          <use href="/img/sprite.svg#icon-arrow"></use>
        </svg>
        <div class="how-to-play-item-descr">
          <div class="how-to-play-item-descr-num"><p>5</p></div>
          <p class="how-to-play-item-descr-text">
            <span> Climb the Leaderboard</span> – Compete globally and rule the
            kingdom of puzzles!
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
