<div class="main-circle circle-left-1"></div>
<div class="main-circle circle-rigth-1"></div>
<div class="main-circle circle-left-2"></div>
<div class="main-circle circle-rigth-2"></div>
<div class="main-circle circle-rigth-3"></div>
<div class="main-circle circle-left-3"></div>
<div class="main-circle circle-rigth-4"></div>
<div class="main-circle circle-left-4"></div>
<div class="main-circle circle-rigth-5"></div>
<div class="main-circle circle-left-5"></div>
<div class="main-circle circle-rigth-6"></div>
<div class="main-circle circle-left-6"></div>
<div class="main-circle circle-rigth-7"></div>
<div class="main-circle circle-left-7"></div>
<div class="main-circle circle-left-8"></div>
<div class="main-circle circle-rigth-8"></div>
<div class="main-circle circle-left-9"></div>
<div class="main-circle circle-left-10"></div>
<div class="main-circle circle-rigth-9"></div>
<div class="main-circle circle-left-11"></div>
<div class="main-circle circle-rigth-10"></div>
<div class="main-circle circle-left-12"></div>
<div class="main-circle circle-rigth-11"></div>
<div class="main-circle circle-left-13"></div>
<div class="main-circle circle-rigth-12"></div>
<div class="main-circle circle-rigth-13"></div>
<div class="main-circle circle-left-14"></div>
<div class="main-circle circle-rigth-14"></div>
<div class="main-circle circle-left-15"></div>
<div class="main-circle extra-circle-left-1"></div>
<div class="main-circle extra-circle-right-1"></div>
<div class="main-circle extra-circle-left-2"></div>
