<div class="menu" id="sideMenu">
  <div id="close-menu">
    <svg width="24" height="24" class="close-icon">
      <use href="/img/sprite.svg#icon-back"></use>
    </svg>
  </div>
  <ul class="menu-list">
    <li><a href="#game-overview" class="menu-item">Game Overview</a></li>
    <li><a href="#features" class="menu-item">Features</a></li>
    <li><a href="#how-to-play" class="menu-item">How to Play</a></li>
    <li>
      <a href="#player-testimonials" class="menu-item">Player Testimonials</a>
    </li>
    <li>
      <a href="#character-spotlight" class="menu-item">Character Spotlight</a>
    </li>
    <li>
      <a href="#developer-diaries" class="menu-item">Developer Diaries</a>
    </li>
    <li>
      <a href="#lore-and-worldbuilding" class="menu-item"
        >Lore & Worldbuilding</a
      >
    </li>
    <li>
      <a href="#quests-and-achivements" class="menu-item"
        >Quests & Achievements</a
      >
    </li>
    <li>
      <a href="#enemy-and-boss-showcase" class="menu-item"
        >Enemy & Boss Showcase</a
      >
    </li>
  </ul>
</div>
