<div id="lore-and-worldbuilding" class="anchor-offset"></div>
<section class="container phone-section-lore">
  <h2 class="phone-section-title">Lore & Worldbuilding</h2>
  <div class="phone-section-content">
    <picture>
      <source
        srcset="/img/lore.png 1x, /img/lore@2x.png 2x"
        media="(min-width: 1200px)"
      />
      <source
        srcset="/img/lore-mob.png 1x, /img/lore-mob@2x.png 2x"
        media="(max-width: 1199px)"
      />
      <img src="/img/lore.png" class="phone-section-img" alt="Lore" />
    </picture>
    <p class="phone-section-text">
      Did you know that <strong>Royal Match 3</strong> is set in the mystical
      <strong>Kingdom of Eldoria</strong>? Discover the
      <strong>history of the enchanted gems</strong>, the
      <strong>rivalry between warring factions</strong>, and the
      <strong>legend of the lost crown</strong>.
    </p>
  </div>
</section>
