// styles for achievements
.achievements-section {
  text-align: center;
  padding: 0px 20px 32px 20px;
  color: $_main_color;

  @include media(desktop) {
    padding: 0px 20px 48px 20px;
  }
}

.achievements-section h2 {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: $_main_color;
  padding-bottom: 16px;

  @include media(desktop) {
    font-size: 56px;
  }
}

.achievements-container {
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;

  @include media(desktop) {
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;
  }
}

.achievement-card {
  justify-content: center;
  align-items: center;
  background: $_container_bg_color;
  border: 4px solid $_blue_color;
  border-radius: 16px;
  padding: 24px 16px;
  width: 248px;
  height: 230px;
  text-align: center;
  transition: transform 0.3s ease-in-out;

  @include media(desktop) {
    padding: 24px;
    width: 331px;
    height: 251px;
  }
}

.achievement-card img {
  max-width: 100px;
  margin: 0 auto 24px;
}

.achievement-card p {
  font-size: 20px;
  line-height: 107%;
  letter-spacing: 0em;
  text-align: center;
  color: $_main_color;

  @include media(desktop) {
    font-size: 28px;
  }
}

.achievement-card p strong {
  font-weight: 700;
}

.achievement-card:hover {
  transform: translateY(-5px);
}
