// styles for achievements

.achievements-section {
  text-align: center;
  padding: 0px 20px 32px 20px;
  color: white;
}

.achievements-section h2 {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
  padding-bottom: 16px;
}

.achievements-container {
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}

.achievement-card {
  justify-content: center;
  align-items: center;
  background: rgba(2, 27, 55, 0.5);
  border: 4px solid #325c8b;
  border-radius: 16px;
  padding: 24px 16px;
  width: 248px;
  height: 230px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.achievement-card img {
  max-width: 100px;
  margin: 0 auto 24px;
}

.achievement-card p {
  font-weight: 400;
  font-size: 20px;
  line-height: 107%;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
}

.achievement-card p strong {
  font-weight: 700;
}

.achievement-card:hover {
  transform: translateY(-5px);
}

@media (min-width: 1200px) {
  .achievements-section {
    padding: 0px 20px 48px 20px;
  }

  .achievement-card {
    padding: 24px;
    width: 331px;
    height: 251px;
  }

  .achievements-section h2 {
    font-size: 56px;
  }

  .achievement-card p {
    font-size: 28px;
  }

  .achievements-container {
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;
  }
}
