// styles for enemy
.witch-block {
  position: relative;
  color: $_main_color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;

  @include media(desktop) {
    padding-bottom: 276px;
  }
}

.witch-block-title {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: $_main_color;
  padding-bottom: 16px;
  margin-top: 0px;

  @include media(desktop) {
    font-size: 56px;
    padding-top: 68px;
  }
}

.witch-block-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  margin-bottom: 16px;
  z-index: 2;
  position: relative;

  @include media(desktop) {
    flex-direction: row;
    gap: 64px;
  }
}

.witch-image img {
  max-width: 224px;
  height: auto;

  @include media(desktop) {
    max-width: 500px;
  }
}

.witch-block-content-text {
  max-width: 288px;
  text-align: left;
  font-size: 20px;
  line-height: 107%;
  letter-spacing: 0em;
  color: $_main_color;
  padding: 32px 16px 0px 16px;

  @include media(desktop) {
    max-width: 460px;
    font-size: 28px;
    padding-left: 0;
    padding-right: 0;
  }
}

.witch-block-content-text strong {
  font-weight: 700;
}

.witch-feather {
  position: absolute;
  bottom: 40px;
  right: calc(50% - 548px / 1.4);
  transform: translateY(-56px);
  width: 548px;
  height: 115px;
  background-image: url('/img/pero.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  @media only screen and (min-resolution: 192dpi) {
    background-image: url('/img/pero@2x.png');
  }
  @include media(desktop) {
    bottom: 100px;
    right: calc(50% - (1489px / 1.5));
    transform: translateY(25px);
    width: 1489px;
    height: 325px;
  }
}
