.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin-left: 74px;
  height: 100%;
  background-color: $_burger_bg_color;
  backdrop-filter: blur(8px);
  padding: 56px 36px 37px;
  box-sizing: border-box;
  z-index: 1000;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;

  @include media(desktop) {
    display: none;
  }
}

.menu.open {
  transform: translateX(0);
}

.close-icon {
  margin-bottom: 15px;
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.menu-item {
  font-weight: 700;
}
