@import './container.scss';
@import './header.scss';
@import './hero.scss';
@import './overview.scss';
@import './features.scss';
@import './how-to-play.scss';
@import './testimonials.scss';
@import './diaries.scss';
@import './worldbuilding.scss';
@import './achievements.scss';
@import './enemy.scss';
@import './footer.scss';
@import './menu.scss';
@import './cookies.scss';
@import './policy.scss';
v@import './main-circles.scss';
@import './policy-circles.scss';

:root {
  font-family: 'Dongle', sans-serif;
  @include font(28, 30);
  font-weight: 400;

  color: $_main_color;
  background-color: $_main_bg_color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
}

.bg-container {
  position: relative;
  overflow: hidden;
}

.anchor-offset {
  position: relative;
  top: -103px;
  height: 0;
  visibility: hidden;

  @include media(desktop) {
    top: -173px;
  }
}

.page-content {
  padding-top: 103px;

  @include media(desktop) {
    padding-top: 173px;
  }
}
