@import './header.scss';
@import './hero.scss';
@import './overview.scss';
@import './features.scss';
@import './how-to-play.scss';
@import './testimonials.scss';
@import './character.scss';
@import './diaries.scss';
@import './worldbuilding.scss';
@import './achievements.scss';
@import './footer.scss';
@import './policy.scss';

:root {
  font-family: 'Dongle', sans-serif;
  @include font(28, 30);
  font-weight: 400;

  color: $_main_color;
  background-color: $_main_bg_color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
