.section-testimonials {
  padding: 32px 0;
}

.section-testimonials .section-title {
  color: #fff;
  font-size: 24px;
  margin-bottom: 16px;
  text-align: center;
}

.testimonials-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.testimonial-card {
  border: 4px solid #fde3cf;
  border-radius: 16px;
  width: 248px;
  height: 182px;
  background: linear-gradient(
    128deg,
    #e188b4 10%,
    #f9c1cf 10%,
    #f9c1cf 30%,
    #d975ab 30%,
    #d975ab 50%,
    #f9c1cf 50%,
    #f9c1cf 70%,
    #d975ab 70%,
    #d975ab 89.89%,
    #f9c1cf 90.05%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 0;
}

.testimonial-card-box {
  background-color: #fbe0f4;
  border: 4px solid #b1578f;
  border-radius: 16px;
  width: 224px;
  height: 164px;
  padding: 12px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.testimonial-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0em;
  color: #000;
}

.testimonial-author {
  padding-top: 16px;
  font-weight: 700;
  font-size: 20px;
  text-align: right;
  color: #000;
}

@media (min-width: 1200px) {
  .section-testimonials {
    padding: 48px 0;
  }

  .testimonials-container {
    gap: 24px;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .testimonial-card {
    width: 331px;
    height: 254px;
  }

  .testimonial-text {
    font-size: 28px;
    line-height: 114%;
    color: #270052;
  }

  .testimonial-author {
    font-size: 24px;
  }

  .testimonial-card-box {
    width: 299px;
    height: 228px;
    padding: 22px;
  }

  .section-testimonials .section-title {
    font-size: 56px;
  }
}
