.section-testimonials {
  padding: 32px 0;

  @include media(desktop) {
    padding: 48px 0;
  }
}

.section-testimonials .section-title {
  color: $_main_color;
  font-size: 24px;
  margin-bottom: 16px;
  text-align: center;

  @include media(desktop) {
    font-size: 56px;
  }
}

.testimonials-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;

  @include media(desktop) {
    gap: 24px;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.testimonial-card {
  border: 4px solid $_yellow;
  border-radius: 16px;
  width: 248px;
  height: 182px;
  background: $_linear_gradient;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 0;

  @include media(desktop) {
    width: 331px;
    height: 254px;
  }
}

.testimonial-card-box {
  background: $_yellow;
  border: 4px solid $_pink_color;
  border-radius: 16px;
  width: 224px;
  height: 164px;
  padding: 12px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include media(desktop) {
    width: 299px;
    height: 228px;
    padding: 22px;
  }
}

.testimonial-text {
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0em;
  color: $_black;

  @include media(desktop) {
    font-size: 28px;
    line-height: 114%;
    color: $_indigo_text;
  }
}

.testimonial-author {
  padding-top: 16px;
  font-weight: 700;
  font-size: 20px;
  text-align: right;
  color: $_black;

  @include media(desktop) {
    font-size: 24px;
  }
}
